Repository andgein/SIStema, pull requests merged in 2018-05, with the labels that each got.

#454 Add green background to checked score for task
  src/web/modules/entrance/static/entrance/css/staff/check.css
  src/web/modules/entrance/templates/entrance/staff/check_group.html
  src/web/modules/entrance/templates/entrance/staff/check_users_task.html
  src/web/sistema/templates/staff_layout.html
Labels: group:ux, module:entrance, review:easy

#458 Remove big red button when enrollment type step is closed
  src/web/modules/entrance/templates/entrance/steps/select_enrollment_type.html
Labels: group:ux, module:entrance, priority:1:high, review:easy

#464 Groups list in staff interface and group members list
  src/web/frontend/table/__init__.py
  src/web/frontend/table/columns.py
  src/web/frontend/table/table.py
  src/web/frontend/table/utils.py
  src/web/groups/admin.py
  src/web/groups/models.py
  src/web/groups/school_urls.py
  src/web/groups/staff/__init__.py
  src/web/groups/staff/views.py
  src/web/groups/templates/groups/staff/_groups_list_group_name.html
  src/web/groups/templates/groups/staff/group.html
  src/web/groups/templates/groups/staff/groups.html
  src/web/groups/views.py
  src/web/modules/entrance/models/main.py
  src/web/modules/study_results/staff/views.py
  src/web/schools/models.py
  src/web/schools/urls.py
Labels: group:staff, priority:2:medium, review:medium, type:feature

#471 Enrolled scans: add group membership condition for enrolled scan
  src/web/modules/enrolled_scans/admin.py
  src/web/modules/enrolled_scans/migrations/0009_auto_20180526_1448.py
  src/web/modules/enrolled_scans/models.py
Labels: module:enrolled_scans, priority:2:medium, review:easy
